<div class="row header" >
<a href="#" [routerLink]="['/']" >
    <i style="font-size:16px;position:relative;top:3px" class="material-icons">arrow_back</i>
  Back to home</a>
  <span >New Configuration</span>     

</div>

<div class="row border-down backColo">
    <div class="col-md-4">
        <div class="banner">Account</div>

        <div class="input-divs">
            <form>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="oppty">Oppty ID</label>
                    <input type="text" class="form-control" id="oppty">
                  </div>
                  <div class="form-group">
                      <label for="customer">Customer Account</label>
                      <input type="text" class="form-control" id="customer">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">OCA Workbook</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                        
                      </div>
                      <div class="form-group">
                          <label for="exampleFormControlSelect1">Region</label>
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                          
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Country</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                            
                          </div>

                          <div class="form-group">
                              <label for="exampleFormControlSelect1">Product Lifecycle</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                              
                            </div>
           
            </form>
        </div>


    </div>
    <div class="col-md-4">
        <div class="banner">Product</div>

        <div class="input-divs">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Product</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                <small id="emailHelp" class="form-text text-muted">Only the first 50 views are shown !</small>
              </div>
        </div>

      </div>
      <div class="col-md-4">
          <div class="banner">Options</div>

          <div class="input-divs">
              <form>

                  <div class="form-group">
                      <label for="exampleFormControlSelect1">Quantity</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                     
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Sub Configuration</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                       
                      </div>

                      <div class="form-group">
                          <label for="exampleFormControlSelect1">Quotatin Mode</label>
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                         
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Services</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                        
                          </div>

              </form>
          </div>

          <div class="btn-accept">

            <!-- <button id="cancelBtn">Cancel</button>
            <button id="createBtn">Create</button> -->

            <button type="button" id="cancelBtn" class="btn btn-sm btn-primary" disabled>Cancel</button>
            <button type="button" id="createBtn" class="btn btn-secondary btn-sm" disabled>Create</button>

          </div>

        </div>

</div>



<div class="footer-copyright py-3 text-center" style="font-size:10px;">
    © 2018 Copyright:
   Hewlett Packard Enterprise Development 
</div>