<div class="row">

  <div class="col-md-12">

    <div class="bom-tite">
      <span>BOM Details for Test Oca Config 1</span>
    </div>

  </div>

</div>

<div class="row">

  <div class="col-md-12">

    <div class="bom-btn">

      <button>Expand All</button>
      <button>Collaspe All</button>


      <div class="btn-right">
        <button>Export Excel</button>
        <button>Clic Check</button>
        <button>Bom Diff</button>
        <button>May We Recommened</button>
      </div>

    </div>

    <div class="table-responsive">

      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>+/-</th>
            <th>Quantity</th>
            <th>Product#</th>
            <th>Product Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>1</td>
            <td>P9E36A</td>
            <td>HPE MCS 300 Rack</td>
          </tr>
          <tr>
            <td></td>
            <td>1</td>
            <td>H1K92A3</td>
            <td>HPE 3Y Proactive Care 24x7 SVC</td>
          </tr>
          <tr>
            <td></td>
            <td>1</td>
            <td>H1K92A3 7FV</td>
            <td>HPE Modular Cooling System Rack Support</td>
          </tr>
        </tbody>
      </table>


    </div>


  </div>

</div>