
        <div class="table-responsive">
          <table class="table">

              <thead class="thead-dark" >
                  <tr style="font-size:13px">
                      <th>Num</th>
                      <th>Description</th>
                      <th>CI</th>
                      <th>Spec</th>
                  </tr>
              </thead>
              <tbody>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
              </tbody>

          </table>
      </div>