<div class="panel-group" id="accordion1">
    <div class="panel panel-default" *ngFor = "let section of menuSections">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" href="#{{section.id}}">
          {{section.title}}
        </a>
      </h4>
      </div>
      <div id="{{section.id}}" class="panel-collapse collapse">
        <div class="panel-body">

          <!-- Here we insert another nested accordion -->

          <div class="panel-group" id="accordion2">
            
            <div class="panel panel-default" *ngFor = "let innerSection of section.sectionElements">
              <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion2" href="#{{innerSection.id}}">
                  {{innerSection.title}}
                </a></h4>
              </div>

              <div id="{{innerSection.id}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-bordered margin-20">
                        <thead>
                          <tr class="support-tableheader">
                            <th>Product #</th>
                            <th>Description</th>
                            <th>Recommended</th>
                            <th>Quantity</th>
                            <th>Shipment Lead Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let item of innerSection.items">
                            <td>{{item.productNumber}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.available}}</td>
                            <td>{{item.dnq_value}}</td>
                             <td></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
            </div>
          </div>

          <!-- Inner accordion ends here -->

        </div>
      </div>
    </div>
  </div>