<div class="menu-content">

  <!-- <div class="row" >





    <div class="col-md-12" >

      <ul>
        <li>
          <label class="label">UCID</label>
          <span class="value">60151230-1</span>
        </li>
        <li style="margin-left:15px;">
          <label class="label">Config Status</label>
          <span class="value">Assigned</span>
        </li>
      </ul>

    </div>

  </div> -->

  <div class="row" style="margin-top:10px;">

      <div class="col-md-3">

        <div class="btn-look">

          <div class="icon-image">

            <i class="material-icons">save</i>
            <span>Save</span>
          </div>

        </div>


      </div>

      <div class="col-md-3">

        <div class="btn-look">

          <div class="icon-image">

              <i class="material-icons">assignment_returned</i>

              <span>Export</span>
          </div>
        </div>


      </div>

      <div class="col-md-3">

        <div class="btn-look">

          <div class="icon-image">

              <i class="material-icons">group</i>
              <span>New</span>
          </div>



        </div>


      </div>

      <div class="col-md-3">

        <div class="btn-look">

          <div class="icon-image">

              <i class="material-icons">business_center</i>
              <span>Catalog</span>

          </div>
        </div>


      </div>

    </div>



</div>