<div class="row" style="margin:1px;">

  <div class="col-md-4 sum-look">

    <div class="page-title-sum">
      <i class="material-icons">assignment</i>
      <span>SUMMARY</span>
    </div>

    <div class="page-desc-sum">

      <ul>
        <li>
          <label class="label">UCID</label>
          <label class="value">60151230-1</label>
        </li>
        <li>
            <label class="label">Config Id</label>
            <label class="value">103153078</label>
          </li>
          <li>
            <label class="label">Name</label>
            <label class="value">Test Config 1</label>
          </li>
          <li>
            <label class="label">Version</label>
            <label class="value">01</label>
          </li>
          <li>
            <label class="label">OCAWorkgroup</label>
            <label class="value">[US][RSLR]AMS IT System</label>
          </li>
          <li>
            <label class="label">CustomerAccount</label>
            <label class="value">*Test Company for all tests</label>
          </li>
          <li>
            <label class="label">OpportunityId</label>
            <label class="value">OPE-00077492555</label>
          </li>
          <li>
            <label class="label">UCID</label>
            <label class="value">6103155467-01</label>
          </li>
          <li>
            <label class="label">CreateBy</label>
            <label class="value">validation_hpe_us_rez_z_05</label>
          </li>
          <li>
            <label class="label">SharingStatus</label>
            <label class="value">Private</label>
          </li>
          <li>
            <label class="label">State</label>
            <label class="value">CI-IN-Progess</label>
          </li>
          <li>
            <label class="label">ActiveState</label>
            <label class="value">Active</label>
          </li>
          <li>
            <label class="label">Country</label>
            <label class="value">Germany</label>
          </li>
          <li>
            <label class="label">ConfigStatus</label>
            <label class="value">N/A</label>
          </li>
          <li>
            <label class="label">LifeCycleStatus</label>
            <label class="value">N/A</label>
          </li>
          <li>
            <label class="label">Services</label>
            <label class="value">Flexible Support Services</label>
          </li>
          <li>
            <label class="label">Where Used Quote</label>
            <label class="value">N/A</label>
          </li>
          <li>
            <label class="label">Subconfig</label>
            <label class="value">1 direct,1 total</label>
          </li>
          <li>
            <label class="label">InternalNotes</label>
            <label class="value">N/A</label>
          </li>
          <li>
            <label class="label">ConfigInstructions</label>
            <label class="value">N/A</label>
          </li>
          <li>
            <label class="label">KBVersion</label>
            <label class="value">Development_OneConfig</label>
          </li>
          <li>
            <label class="label">CustomConfig</label>
            <label class="value">Contains C2BXML:NO</label>
          </li>
          <li>
            <label class="label">CIState</label>
            <label class="value">Not Expected</label>
          </li>
          <li>
            <label class="label">CIDURL</label>
            <label class="value">N/A</label>
          </li>
      </ul>
    </div>
  </div>

  <div class="col-md-8 mess-look">

    <div class="page-desc-title">
      <i class="material-icons">assignment</i>
      <span>MESSAGES</span>
    </div>

    <div class="page-desc-content">

      <p>
        <button class="btn btn-primary custoBtnCol" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
          aria-controls="collapseExample">
          Test OCA Config 1
          <i class="material-icons">arrow_drop_down</i>
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body" style="border:0px;font-size:13px;font-weight:400;background:none;color:#fff;">
          HA113A1#5BW (add-ons installation) is not needed when accessory products are quoted with a Proliant Server, MSA Array, ESL
          product, or a rack that also includes HA113A1#5BY (onsite rack installation) or a Synergy Frame with Install and
          Startup or Factory Express on the quote. Please manually remove all instances of HA113A1#5BW from the quote. Please
          ignore this message if HA113A1#5BW is not present on the quote.
        </div>
      </div>

    </div>

  </div>

</div>