ul li a {
    color : #333;
    font-family : Proxima Nova ;
    font-weight: 600;
}

.form-inline button{
    border : none;
}

i {
font-size: 24px;
/* line-height: 38px; */
position: relative;
top: 4px; 

}

