
<div class="row">
  <div class="col-sm-5 service-header">
    <label class="radio-inline"><input type="radio" value="flexService" [(ngModel)]="flexibleService">Flexible Services</label>
    <label class="radio-inline"><input type="radio" value="fixedService" [(ngModel)]="fixedService">Fixed Services</label>
  </div>
  <div class="col-sm-7">
    <input type="text" class="form-control" id="extended_overview_svc_otherServices_other_search_text"
     placeholder="<Type in the part number or description to search for Services>">
    <span class="glyphicon glyphicon-search"></span>
  </div>

</div>
<!-- Tab Content -->
<!-- <div class="row">
    <ul class="nav nav-tabs">
        <li [ngClass]="{'active' : i == 0}" *ngFor = "let tab of serviceTabs;let i = index"><a data-toggle="tab" [href]="tab.id">{{tab.val}}</a></li>
    </ul>
</div> -->

<div>
  <!-- Tab Header -->
    <div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
    <div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
    <div class="wrapper">
      <ul class="nav nav-tabs list" id="myTab">
        
        <li [ngClass]="{'active' :  selectedServiceTab == tab}" *ngFor = "let tab of serviceTabs;let i = index" (click)="getSelectedServiceTab(tab,i)"><a data-toggle="tab" href="#{{tab.id}}">{{tab.val}}</a></li>
    </ul>
    </div>

    <!-- Tab Body -->
    <div class="tab-content">
        <div id="support" class="tab-pane fade in active">
          <app-support-and-installation></app-support-and-installation>
        </div>

        <div id="otherService" class="tab-pane fade">
          <app-other-services></app-other-services>
        </div>

        <div id="lifecycleService" class="tab-pane fade">
          <app-lifecycle-services></app-lifecycle-services>
        </div>

        <div id="trainingService" class="tab-pane fade">
            <app-lifecycle-services></app-lifecycle-services>
        </div>

        <div id="consultingService" class="tab-pane fade">
            <app-lifecycle-services></app-lifecycle-services>
        </div>
          
        <div id="creditService" class="tab-pane fade">
            <app-credit-service></app-credit-service>
        </div>

        <div id="factoryExpressService" class="tab-pane fade">
          <span>Note, not all HPE services may apply to this level of the configuration. If you do not see the 
            item(s) you are looking for, use the navigation button to change locations</span>
        </div>
        
        <div id="custSpecificService" class="tab-pane fade">
          
        </div>

        <div id="logisticsService" class="tab-pane fade">
            <span>Note, not all HPE services may apply to this level of the configuration. If you do not see 
              the item(s) you are looking for, use the navigation button to change locations</span>
        </div>
        
        <div id="nimbleService" class="tab-pane fade">
          
        </div>

        <div id="hpcService" class="tab-pane fade">
            
          </div>
      </div>
  </div>
  
  
  
  